[2020-06-15 02:06] leecalcote opened #1 "[Github] Add GitHub Issue Templates"
This new repo is in need of the GitHub issue templates as are used in the Meshery repo.

[2020-06-15 02:07] leecalcote opened #2 "[Github] Add Slack notifier for GitHub Stars"
This new repo is in need of the Slack notifier to send a message to the community's #buzz channel.

[2020-06-15 02:12] leecalcote opened #3 "[Docker Hub] Create a repo for the Mesherator Operator"

[2020-06-15 02:12] leecalcote opened #4 "Consider a name change for this project."
"Meshery Operator" may be a better name for this project.

[2020-06-15 02:16] leecalcote opened #5 "[Build] Add GitHub Workflow for CI"
This repo will contain a Kubernetes Operator based on the Operator SDK using Golang.

Docker Repo: https://hub.docker.com/repository/docker/layer5/meshery-operator

[2020-06-15 02:17] leecalcote commented on #3
Created - https://hub.docker.com/r/layer5/mesherator.

[2020-06-15 02:17] #3 closed

[2020-06-15 07:20] AdheipSingh commented on #4
+1 "Meshery Operator"

[2020-06-15 14:07] kushthedude commented on #4
**Meshorator** 😅

[2020-06-16 23:57] #1 closed

[2020-06-26 16:25] #2 closed

[2020-07-04 14:35] nitishm opened #9 "Change go mod project name"
The project is incorrectly named meshery-controller. The github.com/layer5io/ prefix was missed.
Also maybe meshery-controller is not the best name. Any suggestions for a better name @AdheipSingh @vinayakshnd @leecalcote

[2020-07-14 14:43] nitishm commented on #9
There is this small task if you are interested @crustyy . I can provide more details on slack if you are interested

[2020-07-14 15:30] crustyy commented on #9
@nitishm yes sir ,i will take this issue😊

[2020-07-14 17:05] crustyy opened #13 "Small change in Makefile"
**Description**

**Expected Behavior**

**Screenshots**

**Environment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPhone 8]

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[Optional] **Additional Context**

[2020-07-14 17:18] crustyy commented on #13
https://github.com/meshery/meshery-operator/pull/12/commits/050637a3389dcc36056ac6a30eaf543fdedcda00
@nitishm  please review it:)

[2020-07-14 21:36] leecalcote opened #15 "Create a logo for this project"
A little bit of branding goes a long way.

[2020-07-15 02:03] #15 closed

[2020-07-15 02:08] leecalcote commented on #4
I love some memorable meshybusiness with project names. I'll close this issue for now given the path our architecture is on.

[2020-07-15 02:09] #4 closed

[2020-07-15 10:07] #13 closed

[2020-07-15 10:08] #9 closed

[2020-07-15 10:10] crustyy commented on #5
@leecalcote  can i work on this issue??

[2020-07-15 13:51] nitishm commented on #5
Not sure what needs to be done here. @leecalcote should know.

[2020-07-15 15:13] MukulMaheshwari commented on #5
@leecalcote  Can u please elaborate what needs to be done here ?

[2020-07-18 02:44] nitishm opened #19 "Implement meshsync.Synchronizer interface for istio"
`Synchronizer` interface in `meshsync` package serves the purpose of synchronizing and identifying/fingerprint a running or deployed servicemesh. The interface abstracts away mesh specific implementation through a set of methods including `Synchronize`.

For istio, the plan is to leverage the functionality of `istioctl version` which returns the version information about the controlplane and sidec

[2020-07-20 18:10] leecalcote commented on #5
Yes, the go program needs to be compiled, linted, error checked, have static analysis checked... using the same methodology we use in building other Golang programs - https://github.com/meshery/meshery/blob/master/.github/workflows/ci.yml.

A docker image needs built and pushed to the repo listed above.

[2020-07-21 15:16] leecalcote opened #22 "Implement meshsync.Synchronizer interface for Linkerd"
**Current Behavior**
MeshSync is unaware of Linkerd, but needs to be.

**Desired Behavior**
`Synchronizer` interface in `meshsync` package serves the purpose of identifying (fingerprinting), and subsequently, synchronizing a running or deployed service mesh. The interface abstracts away mesh specific implementation through a set of methods including `Synchronize`.

While Linkerd doesn't have a cli

[2020-07-23 08:32] dependabot-preview[bot] opened #23 "Dependabot couldn't find a go.mod for this project"
Dependabot couldn't find a go.mod for this project.

Dependabot requires a go.mod to evaluate your project's current Go dependencies. It had expected to find one at the path: `/go.mod`.

If this isn't a Go project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/layer5io).

[View the update logs](https://app.dependabot.com/

[2020-07-24 08:49] #23 closed

[2020-07-25 03:53] nitishm opened #24 "go.mod errors when running "make run""
`make run` throws the following error,
[code]
`github.com/Sirupsen/logrus` is an older, discontinued import line for logrus and is expected to have been updated everywhere to `github.com/sirupsen/logrus`. There seems to a module in docker that seems to still use the older version.

Fix this error with a go.mod `replace` statement to fix this error

[2020-07-25 03:56] leecalcote commented on #24
Lowercase makes all the difference in this case. 😤

[2020-07-25 03:59] nitishm opened #25 "Fix import lines to point to github.com/layer5io/meshery-operator instead of a relative meshery-operator path"
Import lines in the checked in version use `meshery-operator` as a relative import path. Switch to the fully qualified `github.com/layer5io/meshery-operator` path.

[2020-07-25 04:07] #24 closed

[2020-07-25 04:07] #25 closed

[2020-07-25 04:08] leecalcote commented on #22
@AdheipSingh @vinayakshnd much progress by @nitishm here. This issue is up for grabs.

[2020-07-28 17:42] leecalcote opened #28 "Incorporate Service Mesh enum from SMPS service mesh proto"
**Current Behavior**
MeshSync is in need of having a list of service meshes that it supports / discovers. The type of service mesh it is synchronizing with can be described using SMPS's definitions. SMPS is a sibling project that identifies a list of service meshes.

**Desired Behavior**
The [MeshInfo object](https://github.com/layer5io/meshery-operator/blob/master/pkg/meshsync/models/info.go#L14)

[2020-07-28 22:28] leecalcote opened #29 "Incorporate "pipline" package into discovery tiers"
**Current Behavior**
All fingerprinters run when MeshSync is invoked. They run without order of precedence defined or controlled sequence or concurrent operation defined.

**Desired Behavior**
Incorporate stages and steps of the pipeline package into design of MeshSync discovery process; create discovery tiers.

---
**Resources**
 - https://github.com/myntra/pipeline

[2020-08-10 14:47] kushthedude opened #30 "Add Release Drafter CI and Configuration"
**Current Situation**

Each of the layer5 repositories needs releaseDrafter automation as had been done in the meshery project which takes care of drafting release notes.

**Desired Situation**

Add ReleaseDrafter configuration yaml file & GitHub Action.

---

**Additional context**

[ReleaseDrafter Configuration File](https://github.com/layer5io/meshery/blob/master/.github/release-drafter.yml)
[R

[2020-08-27 17:29] #30 closed

[2020-08-28 06:51] dependabot-preview[bot] opened #34 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/layer5io/update-logs/45343981).

[2020-09-25 07:06] dependabot-preview[bot] opened #35 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/layer5io/update-logs/48713538).

[2020-09-25 07:06] #34 closed

[2020-09-28 07:03] #35 closed

[2020-10-08 17:08] subhamkrai commented on #5
@leecalcote I would like to take this up  if available :) . Thanks!

[2020-10-08 17:09] leecalcote commented on #5
@subhamkrai do you worst. ;)

[2020-10-08 17:12] subhamkrai commented on #5
I'll try my best to not make it worst.

[2020-11-10 13:29] leecalcote commented on #28
@tingkai-zhang the Meshery Operator project has new life breathed into it. Would you like to give this issue an attempt?

[2020-12-07 03:11] leecalcote commented on #29
Incorporated. @kalradev any documentation that we want to capture as part of the closing of this issue?

[2020-12-14 16:48] kushthedude opened #84 "Incorporate docker build & push for operator"

[2020-12-14 16:57] leecalcote commented on #84
Related issue: https://github.com/meshery/meshery-operator/issues/5#issue-638490196 (fyi)

[2020-12-14 17:28] #84 closed

[2020-12-15 19:15] leecalcote opened #88 "Separate Meshery Operator and MeshSync"
**Tasks**
- [ ] separate code
- [ ] update CI workflow to accommodate

[2020-12-15 19:17] kushthedude commented on #88
If I am not wrong the `pkg` directory contains meshsync code & informers right? @kalradev

[2020-12-17 07:24] Aisuko opened #90 "[Helm charts]: meshery-operator needs helm chart"
**Current Behavior**

**Desired Behavior**

Meshery-operator needs helm charts:

* Can deploy into Kubernetes cluster by Helm chart.
* The chart is needsed to be included in the Meshery helm chart repo.

---
**Resources**

**Alternatives / Additional Context**

[2020-12-21 01:25] Aisuko commented on #90
We need a stable image of meshoperator.

[2020-12-27 04:53] Aisuko commented on #88
@leecalcote Is task one was finished by @kalradev ?
https://github.com/meshery/meshsync/commit/1a1d5dff736470aad65f8b5ed6ada66e289fdd83#diff-e0ce1a7f3f76d7bfda0ffdae6e0226aa63b3009c4c4a770c321876aecad0a6c1

[2020-12-27 13:09] 0xfirefist commented on #88
Code has been added to the Meshsync repo. But we have to remove it from this package.
@kumarabd, where should these files go?
- https://github.com/meshery/meshery-operator/blob/master/pkg/meshsync/controller.go
- https://github.com/meshery/meshery-operator/blob/master/pkg/broker/nats/controller.go

[2020-12-29 13:57] 0xfirefist commented on #88
https://github.com/meshery/meshery-operator/pull/97 - It is solved with this PR. Closing this issue.

[2021-01-22 18:29] kumarabd opened #115 "Broker Service Type fallback support"
**Current Behavior**
The broker deploys NATS service as type Loadbalancer

**Desired Behavior**
Add support for falling back to NodePort when Loadbalancer is not supported

---
**Resources**

**Alternatives / Additional Context**

[2021-02-06 18:33] leecalcote opened #120 "[Upgrade] Meshery Operator"
#### Current Behavior
Design needed.

#### Desired Behavior

---
[Optional]

#### Implementation

#### Acceptance Tests

#### Mockups

[2021-02-13 20:00] leecalcote opened #122 "Update Reviewers on Dependabot settings"
**Description**
@kalradev is listed as a reviewer of dependably updates. @kalradev is not active in the community currently.

**Expected Behavior**
Dev's username should be removed from [this configuration](https://github.com/layer5io/meshery-operator/blob/master/.github/dependabot.yml).

[2021-02-25 14:07] #28 closed

[2021-02-25 14:08] #5 closed

[2021-02-25 14:08] #19 closed

[2021-02-25 14:08] #22 closed

[2021-02-25 14:08] leecalcote commented on #122
Updated to @kumarabd

[2021-02-25 14:08] #122 closed

[2021-02-25 14:09] #88 closed

[2021-03-23 00:28] leecalcote opened #146 "Operator failing to deprovision; crashes Meshery"
**Description**
Switching off the Operator in Settings results in an error.

**Environment:**
 - Meshery Server Version: edge-latest as of Mon, March 22nd, 2021 (post v0.5.0-rc-6)
 - Meshery Operator Version: v0.2.11

**Logs**
[code]

[2021-03-24 19:20] leecalcote opened #147 "[README] Broken link to image"
**Description**
This repo's readme.md has a broken link to the first image.

**Expected Behavior**
The image that should be displayed can be found here - https://github.com/layer5io/meshery-operator/tree/master/img/readme

[2021-03-24 19:23] leecalcote opened #148 "[Docs] Lifecycle: Upgrading Meshery Operator"
**Current Behavior**
The Meshery Operator has some documentation on the fact that it manages the upgrade of it's components - https://docs.meshery.io/guides/upgrade#versioning-of-meshery-components.

**Desired Behavior**
Documentation is needed on what the user needs to do to upgrade the Meshery Operator, if anything.

[2021-03-24 21:49] leecalcote commented on #146
@kumarabd I assume that this was addressed prior to v0.5.0 release. Is that right? Please update.

[2021-03-25 06:46] kumarabd commented on #146
Yes this was addressed.

[2021-03-25 13:26] #146 closed

[2021-03-25 14:16] DineshKoushik commented on #147
Hi @leecalcote , Can I take over this issue?

[2021-03-25 14:27] leecalcote commented on #147
That would be excellent, @DineshKoushik. Thank you.

[2021-03-25 14:33] DineshKoushik commented on #147
@leecalcote Hi again, if you can tell me which out of the five image do I need to replace with, in the place of broken image?

[2021-03-25 14:45] leecalcote commented on #147
Oh, I see that the image is missing in that folder. You can take a copy from here - https://github.com/meshery/meshery

https://raw.githubusercontent.com/meshery/meshery/master/.github/assets/images/meshery/meshery-tag-white-bg.png

[2021-03-25 14:56] DineshKoushik commented on #147
@leecalcote I have updated the image, but seems like my create pull request button is disabled, may I know any solution for that?

[2021-03-25 14:58] leecalcote commented on #147
Fork the repo, clone your fork, make changes, push to your fork, create pull request from your fork.

See CONTRIBUTING.md <https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md>

[2021-03-25 15:03] DineshKoushik commented on #147
![image](https://user-images.githubusercontent.com/54497410/112494693-444fc500-8da9-11eb-9557-1e13fb2beb72.png)

I have done the same process you have mentioned above, but strangely the create pull request button is disabled.

[2021-03-25 15:06] leecalcote commented on #147
Enter a value into the title?

[2021-03-25 15:08] leecalcote commented on #147
While I'm helping you, @DineshKoushik, I have an ask - will you star the repos here - https://github.com/meshery?

[2021-03-26 01:56] leecalcote commented on #147
@DineshKoushik little help in return?

[2021-03-26 02:06] leecalcote commented on #90
It turns out that we don't need this as Meshery deploys the Operator itself.

[2021-03-26 02:06] #90 closed

[2021-03-26 04:30] DineshKoushik commented on #147
@leecalcote I was thinking of staring the repos anyway, I just want some more help from you for my open source journey.

[2021-03-26 04:34] leecalcote commented on #147
I highly recommend that you join the Meshery Community, if you're looking to grow in your open source journey. There's no community more welcoming to newcomers.

[2021-03-26 10:11] DineshKoushik commented on #147
@leecalcote  I do not have any account with the domain name specified, to join meshery slack.

[2021-03-26 20:47] #147 closed

[2021-04-01 20:05] leecalcote opened #151 "List Meshery Operator on Operator Hub"
**Current Behavior**
The Meshery Operator is not listed in the Operator Hub.

**Desired Behavior**
Ideally, the Meshery Operator has a well-described (of it's purpose and functionality) and documented (with images) entry in https://operatorhub.io.

---
**Resources**
See https://operatorhub.io/contribute for instructions.

[2021-04-27 12:55] kumarabd opened #155 "Delete controllers when manager deleted"
**Desired Behavior**
MeshSync and broker controllers needs to be deleted when meshery-operator manager gets deleted.

[2021-05-06 21:51] Anita-ihuman opened #161 "[README] Update README Community Section"
**Description**
The Community section in the README says "Access the Community Drive". There is a new procedure of having this automated based on the individual filling in a [community member form](https://layer5.io/newcomer)

**Expected Behavior**
Update "Access Community Drive" to "To Access Community Drive, fill Community Member Form"

**Screenshots**
![img](https://user-images.githubuserconten

[2021-05-21 00:49] josephmidura commented on #161
I'll fix this.

[2021-05-21 00:55] leecalcote commented on #161
Good, good, good

[2021-05-21 02:40] josephmidura commented on #161
This was actually fixed yesterday.

[2021-05-24 22:38] leecalcote commented on #161
Oh, very good. 👍

[2021-05-24 22:38] #161 closed

[2021-05-25 02:50] leecalcote opened #163 "Meshery Operator errors incomprehensible"
**Description**
MeshSync is connected to Meshery Server, but a ping produces this error.

**Screenshots**
<img width="806" alt="Screen Shot 2021-05-24 at 9 47 54 PM" src="https://user-images.githubusercontent.com/7570704/119432363-da389b00-bcd9-11eb-8aaa-e1facb5599e9.png">

**Environment:**
 - Version: v0.5.15

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Clic

[2021-05-28 22:33] leecalcote commented on #163
I'm still getting this error on Meshery v0.5.17

[2021-05-28 22:33] leecalcote commented on #163
This needs a proper error code.

[2021-06-02 22:30] leecalcote commented on #163
I'm running the edge release of Meshery and am still seeing these errors.

[2021-06-02 22:30] leecalcote commented on #163
@kumarabd please address these defect soon. It carries a high priority label to help ensure that the Meshery Operator flows are smooth.

[2021-06-04 08:25] kumarabd commented on #163
Tracking in meshery as this is an issue from meshery.

[2021-06-04 08:25] #163 closed

[2021-06-16 17:07] kumarabd opened #170 "Port meshkit errors"
**Current Behavior**
Port meshkit errors to the new error utility function. Instructions covered here,
https://github.com/layer5io/meshkit/pull/48

---
**Resources**

**Alternatives / Additional Context**

[2021-06-17 18:33] amino19 opened #172 "[README] Need to fix badges"
**Description**

<a href="https://github.com/layer5io/meshery-operator/blob/master/README.md">README.md</a> is the first file one should read when starting a new project. For attractive look, we added some badges also.
But, there's a Slack badge failing, need to fix that. Plus, align all the badges to `center`

### Screenshot

**Current Behavior**

![image](https://user-images.githubusercontent.co

[2021-06-21 18:25] adithyaakrishna commented on #172
Assigning Myself on this 😶

[2021-06-21 23:02] #172 closed

[2021-06-25 18:08] amino19 opened #175 "[README] Need to add `Community Forum`"
**Description**

<a href="https://github.com/layer5io/meshery-operator/blob/master/README.md">README.md</a> is the first file one should read when starting a new project. Our community launched `Discussion forum` for help seekers; needs to publish it officially on README.md for convenience.

### Screenshots

**Current behaviour:**
![image](https://user-images.githubusercontent.com/75872316/1234410

[2021-06-29 19:54] leecalcote commented on #148
@metonymic-smokey could you tackle this?

[2021-06-29 19:55] leecalcote commented on #29
Gents,

Will you perform a quick update of the MeshSync docs prior to July 31st?

[2021-06-29 20:21] leecalcote commented on #155
@kumarabd status?

[2021-07-01 00:11] #175 closed

[2021-07-01 12:27] kumarabd opened #180 "Move error util to a new directory"
[code]
Also move the errorutil files to the new directory

_Originally posted by @DelusionalOptimist in https://github.com/meshery/meshery-operator/pull/176#discussion_r661831801_

[2021-07-01 12:27] kumarabd commented on #180
@DelusionalOptimist Will you be able to pick this item?

[2021-07-01 12:40] DelusionalOptimist commented on #180
Sure @kumarabd :slightly_smiling_face:

[2021-07-01 17:01] #155 closed

[2021-07-02 04:47] #180 closed

[2021-07-09 14:46] Shreyas220 commented on #170
@kumarabd please assign it to me :)

[2021-07-09 16:56] Shreyas220 commented on #170
@kumarabd can you tell me more on this
because from what I see this issue is already resolved

[2021-07-09 18:44] kumarabd commented on #170
@Shreyas220  it has a reference of a different closed issue. This issue is still open and yours to work on.

[2021-07-09 18:51] #115 closed

[2021-07-09 18:51] #120 closed

[2021-07-09 18:51] #151 closed

[2021-07-09 18:52] leecalcote commented on #115
@kumarabd This is complete, yeah?

[2021-07-12 11:53] #170 closed

[2021-07-12 13:00] kumarabd commented on #115
yes this is complete

[2021-07-22 14:55] DelusionalOptimist opened #191 "[CI] add error codes utility runner workflow"
**Current Behaviour**
Error codes utility runner workflow is not present.

**Desired Behavious**
Add the error codes utility runner workflow.

**Instructions in https://github.com/meshery/meshery-linkerd/issues/213**

[2021-07-23 02:02] bariqhibat commented on #191
I can also help this if it's similar

[2021-07-23 09:13] nehaLohia27 commented on #191
@DelusionalOptimist @bariqhibat Can i also work on this issue ?

[2021-07-23 10:40] DelusionalOptimist commented on #191
@bariqhibat @nehaLohia27 Please share this issue. :smile:

[2021-07-23 12:15] kumarabd commented on #29
Updated them with log viewer and interactive terminal

[2021-07-23 17:55] bariqhibat commented on #191
Sure, you can do this instead:) @nehaLohia27

I have a similar task in meshery-istio too.

[2021-07-27 03:56] metonymic-smokey commented on #148
@leecalcote sorry for the delay, I'd accidentally missed this issue.
I'll open a draft in about a week(exams going on right now)

[2021-07-28 20:58] #191 closed

[2021-09-16 13:24] #29 closed

[2021-09-20 06:03] #148 closed

[2021-10-14 18:55] keithmattix opened #210 "Can't use meshery on k3s/klipper-lb"
**Description**
Due to meshery-broker's use of `hostPort` in its `StatefulSet` manifest, I'm currently running into a race condition between [klipper-lb](https://github.com/k3s-io/klipper-lb)'s autocreated load balancer pod and `meshery-broker-0` since both are trying to claim the same host port. In the vast majority of scenarios, host ports are unnecessary for pods; is there a reason meshery-oper

[2021-11-06 07:12] iamsdas opened #220 "List Meshery Operator in Operator Hub"
#### Current Behavior

Currently, Meshery Operator is not listed in OperatorHub.io

#### Desired Behavior

It should be [published](https://operatorhub.io/contribute#Publish-your-Operator-on-OperatorHub.io)  on OperatorHub.io.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-r

[2021-11-11 13:52] leecalcote commented on #220
@iamsdas will you add this item to the Meshery Build and Release meeting and provide an update on progress?

[2021-11-11 13:55] leecalcote commented on #210
Host port is no longer used as of Meshery v0.5.71. @keithmattix, when convenient, will you kindly confirm this fix addresses the issue?

[2021-11-13 05:04] keithmattix commented on #210
I'm still running into port conflicts. I think the issue is with the `Broker` CRD being listened to by meshery-operator. Notice the `hostPort`s in use [here](https://github.com/meshery/meshery-operator/blob/43a3ccc23e7dd8f4dc8ba56d9e9477651dc8d913/pkg/broker/resources.go#L174)

[2021-11-16 21:32] leecalcote commented on #220
@iamsdas any luck so far?

[2021-11-17 06:40] iamsdas commented on #220
Sorry, I was really busy for the past 2 weeks and did not get much time to look into it (also completely missed your previous message). I'll start with this tomorrow once my exams are over.

[2021-11-19 12:37] iamsdas commented on #220
While generating the operator bundle (using `made bundle`) I am getting some issues / have some questions:

1. Initially it was giving some errors regarding deprecated versions. After running the upgrade command there were some changes to the `PROJECT` file, not sure if it will cause any issues.

[code]

2. The `make bundle` requires some inputs which I am not completely sure about. Can someone co

[2021-11-22 06:48] iamsdas commented on #220
CC @DelusionalOptimist

[2021-12-13 18:23] cpepper96 opened #233 "Update Slack.yml and add newcomer-alert workflow"
**Current Behavior**
Currently the slack.yml is outdated. Also there is no automated way of notifying the slack channel when a "good first issue" has been created.

**Desired Behavior**
Update slack.yml and add newcomer-alert.yml to the Github workflow.

---
**Resources**
Add the updated slack.yml file and the newcomer-alert.yml file to the .github/workflow folder.

Files needed:
https://github.co

[2021-12-14 09:02] Ankita13-code commented on #233
Hi @cpepper96! I would like to take up this issue

[2021-12-14 10:50] warunicorn19 commented on #233
Please go ahead @Ankita13-code.

[2021-12-14 11:17] Ankita13-code commented on #233
I have created a PR for this issue - https://github.com/meshery/meshery-operator/pull/235
Please have a look @warunicorn19.

[2021-12-14 13:09] #233 closed

[2021-12-17 07:42] Swapnil-Bhabal opened #240 "[Docs]The updation of shields is needed in README.md"
**Current State:**
Small updation of shields in README.md
![image](https://user-images.githubusercontent.com/61308713/146507762-ed0afd91-3ba0-4bac-941a-130f47e32272.png)

**Desired State:**
This is how it should look like
![image](https://user-images.githubusercontent.com/61308713/146507863-f844d6c5-373b-4e80-85c0-d5985b5abb20.png)

---
**Contributor Resources**
- [Meshery documentation site](http

[2021-12-17 07:59] Swapnil-Bhabal commented on #240
Kindly Assign this task to me

[2021-12-24 01:09] Aisuko commented on #240
@Swapnil-Bhabal Thank you.  Feel free do a PR and related to this issue.

[2021-12-24 01:39] Aisuko commented on #220
Hi @iamsdas .   Could you help confirm that kustomize already installed on your environment?

[2021-12-24 05:52] iamsdas commented on #220
Yup, I had run `make kustomize` to install it

[2021-12-24 07:31] Aisuko commented on #220
Looks like a bug https://github.com/operator-framework/operator-sdk/issues/4575#issuecomment-785396141. I hit the same issue.

[2021-12-24 07:35] Aisuko commented on #220
The version of `operator-sdk`

[code]

I'm trying to fix this.

[2021-12-25 01:37] Aisuko commented on #210
Hi @keithmattix Are there any else issues we need to fix? Please help to confirm the PR already fixed this issue.

[2021-12-25 20:28] keithmattix commented on #210
The main thing is in my previous message; when creating pods, the meshery-broker assigns hostPorts to those pods. You can see the `hostPort` usage in this Go code: https://github.com/meshery/meshery-operator/blob/master/pkg/broker/resources.go#L174

If those host ports can be removed, then this issue will be solved

[2021-12-27 00:37] Aisuko commented on #210
Thanks for your detail.

[2021-12-27 06:00] #240 closed

[2021-12-28 18:16] navendu-pottekkat opened #247 "Retrieve additional connection info from the broker"
#### Desired Behavior

Collect additional details on the connection like number of clients from the Meshery broker.

These collected details could be, in future, displayed in the Meshery UI.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contri

[2022-01-01 22:02] leecalcote commented on #220
Gents, some good progress here. 👍

[2022-01-03 13:58] s1ntaxe770r opened #249 "Issue when upgrading runc to v1.0.3"
**Description**

In order to patch [CVE-2021-30465](https://github.com/advisories/GHSA-c3xm-pvg7-gh7r) , an upgrade to v1.0.3 is required but runc only runs on [linux](https://github.com/opencontainers/runc#building), I'm unable to upgrade and verify it works on my mac.
**Expected Behavior**

Upgrading should be as easy as `go get github.com/opencontainers/runc@v1.0.3` , v1.0.3 fixes CVE-2021-3046

[2022-01-03 13:59] s1ntaxe770r commented on #249
@leecalcote thought's on this?

[2022-01-08 07:47] Aisuko commented on #249
Hi @s1ntaxe770r Thanks for try to fix the security issue. In my option, I believe we should update the dependency version of `helm` in the `meshkit` repo. Do you agree with this?

[2022-01-10 22:46] leecalcote commented on #249
@utkarsh-pro will you tackle this one?

[2022-01-10 22:48] leecalcote commented on #210
Possible fix here: https://github.com/meshery/meshery-operator/pull/250

[2022-01-10 22:48] leecalcote commented on #210
// @kumarabd

[2022-01-11 13:32] s1ntaxe770r commented on #249
@Aisuko I agree, a complete upgrade is less likely to break

[2022-01-15 21:49] leecalcote commented on #249
@Aisuko, @s1ntaxe770r are you comfortable taking this forward?

[2022-01-16 05:29] Aisuko commented on #249
In my opinion, We need to bump the dependencies version in `meshkit`. I'll try to sole this.

[2022-01-16 05:36] Aisuko commented on #220
Hi, @iamsdas, please help us list the operator in the Operator Hub, thanks.

[2022-01-16 05:39] iamsdas commented on #220
I need someone to confirm the detail to be entered in this before I can proceed:
[code]

[2022-01-16 05:43] Aisuko commented on #220
Thank you, @iamsdas, for my personal it looks good, the Email address can be `community@meshery.io` with the name `Meshery Authors`. We use this on our Helm charts.

Hi @leecalcote, please help us confirm this.

[2022-01-16 06:03] iamsdas commented on #220
It seems that the updated version of the repo has the required info in the `config/manifests/bases/meshery-operator.clusterserviceversion.yaml` file and the `make bundle` command uses it automatically.

[2022-01-16 06:15] iamsdas commented on #220
So I think I'm mostly ready to send the PR. Final question:
Should I add a `ci.yml` file for reviewers? Basically every time someone sends a PR for the operator they will be added to the reviewer's list. If yes then who all should I add? And should I go ahead with the PR?

[2022-01-16 06:41] iamsdas commented on #220
Btw this may be concerning
[code]

[2022-01-17 00:43] Aisuko commented on #220
Hi @iamsdas, I miss your comment. Did you mean `dependabot.yaml` file ?  Please do that and request the review from @leecalcote https://github.com/meshery/meshery/issues/4889#issuecomment-1007307740

[2022-01-17 00:44] Aisuko commented on #220
Hi @iamsdas, I miss your comment. Did you mean `dependabot.yaml` file ?  Please do PR and request the review from @leecalcote https://github.com/meshery/meshery/issues/4889#issuecomment-1007307740

[2022-01-17 00:45] Aisuko commented on #220
I believe we need to configurate for the bundle, right? Let's try to fix this.

[2022-01-17 15:26] leecalcote commented on #220
Looks good. 👍

[2022-01-18 00:41] Aisuko commented on #210
We can close this after we got confirmed.

[2022-01-18 00:43] Aisuko opened #252 "Add the BDD test framework for the operator."
#### Current Behavior

No testcase here.

#### Desired Behavior

We need to add the BDD test framework and allow the contributor write the testcases for the operator.

And the testcase includes:

* CRDs API resources CURD
   * This is not mean we try to test the api-server of kubernetes, this is aim to test the version of resource is ok for the specific version of k8s
   * And the specific value (

[2022-01-18 02:26] leecalcote commented on #252
+1

[2022-01-18 07:24] iamsdas commented on #220
Actually, I am talking about the [ci.yaml](https://k8s-operatorhub.github.io/community-operators/operator-ci-yaml/) file. It would be used to setup reviews for PRs to the operator after it gets added.

[2022-01-18 09:12] Aisuko commented on #220
Ok, I got your point now. Please do this.  cc @leecalcote

[2022-01-18 11:01] Aisuko commented on #220
I believe that we do not need to set the `minikube` version due to our test cases will run on the real environment in `suit_test.go`(after I add some test cases).

But, for the `csv.spec.icon` we  must have it here. Due to if we push teh operator to the `operatorhub.io` we need to have a logo for it. Just like the `icon` in Helm charts' `charts` file.

So, we need to ping @leecalcote to get the co

[2022-01-21 01:15] Aisuko commented on #247
Hi @navendu-pottekkat, any more detail here? It looks like add the feature not related the operator's responsibility.

[2022-01-24 03:04] keithmattix commented on #210
Works like a charm - thanks for the good work!

[2022-01-24 03:04] #210 closed

[2022-01-24 03:40] Aisuko commented on #249
Hi, @s1ntaxe770r

Hard to say, It looks like we need fix issue on this https://github.com/meshery/meshkit/blob/6478c0d2a49f1d3b013d9ae459e4b03aa4f19aa2/go.mod#L6, I guess to lower version of docker import the lower version `moby` `runC`.

And this issue from `helm.sh/helm v3` which we imported, this is the reason I do not want to import the third part packages. But we do not can do this by ourself

[2022-01-24 13:35] s1ntaxe770r commented on #249
Alright I'll look into it , @leecalcote i would need access to security reports on that repo

[2022-01-25 13:48] leecalcote commented on #249
@s1ntaxe770r sounds good. Adding...

[2022-01-26 00:38] Aisuko commented on #249
@leecalcote I need to.   We can use `go mod why` to make a clear list

[2022-01-26 03:04] leecalcote commented on #249
@Aisuko good deal. Hopefully, you've received an email (or two) with your addition to the security group.

[2022-01-26 10:00] Aisuko commented on #249
I'm afraid not, I haven't get the email. How about you @s1ntaxe770r ?

[2022-01-26 18:19] s1ntaxe770r commented on #249
No I haven't either

[2022-01-26 19:58] s1ntaxe770r commented on #249
I have not either

[2022-01-27 19:43] s1ntaxe770r commented on #249
I have access now 👍🏽

[2022-03-14 13:22] leecalcote commented on #220
@iamsdas @Aisuko, icons for Meshery Operator are here: https://meshery.io/brand

[2022-03-17 03:38] #252 closed

[2022-03-23 22:23] #249 closed

[2022-03-23 22:34] leecalcote commented on #249
@s1ntaxe770r or @Aisuko think that you can see this one through? We have significant security vulnerabilities hanging in the balance.

[2022-04-03 17:25] leecalcote opened #290 "Prevent MeshSync from restarting unnecessarily on initial deployment"
#### Current Behavior
When Meshery Operator deploys MeshSync, it takes two restarts of MeshSync before it will start running.

#### Desired Behavior
No restarts.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](http

[2022-04-26 11:46] Aisuko commented on #220
Hi @iamsdas , Any help here?

[2022-04-26 11:51] Aisuko opened #302 "Fix the insecure issues of the project"
#### Current Behavior

As we can see, their some dependencies have an insecure issue. And we want to fix this issue. But it is not easy to fix. So, I believe we need to pop out this and fix it.

And anyone can help on this.

#### Expected Behavior

#### Screenshots/Logs

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stable-v
-

[2022-05-06 16:39] Revolyssup commented on #290
@leecalcote It is because it waits for the broker. If the broker isn't available then the binary exits, and pod is stuck in crashloopbackoff untill the broker is available.

[2022-05-06 16:41] Revolyssup commented on #290
If we were to change this behaviour, we would also do the same thing. Use something like exponentialbackoff to keep retrying inside the binary when the NATS connection fails. Kubernetes replicaset controller does this for us. So do we want to add code here?

[2022-05-06 16:49] leecalcote commented on #290
No, we don't want to add code here. We want to use an existing capability of either kubebuilder or of Kubernetes to facilitate readiness, dependency, and boot order.

[2022-05-12 01:15] Aisuko commented on #220
Hi @leecalcote , no worries sir. I will lead to this. Actually, we almost finish totally process.

[2022-05-12 02:53] leecalcote commented on #220
Much appreciated, @Aisuko 👏

[2022-05-13 02:48] Aisuko commented on #220
Close due to https://github.com/k8s-operatorhub/community-operators/pull/1204#event-6598398758

[2022-05-13 02:48] #220 closed

[2022-05-29 08:18] KrishAryan opened #314 "[Docs]Support light vs dark mode display of Meshery logo in README"
#### Current State
There are some logos in README.md that have very low contrast in either light/dark mode

#### Desired State
Change the docs such that there is a separate logo for dark/light mode with high contrast

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contri

[2022-05-29 13:52] KrishAryan commented on #314
//assign

[2022-07-01 06:37] #290 closed

[2022-07-15 13:24] exitflynn commented on #314
Hello there! This'll be my first time contributing to Meshery (and any open source project to be honest :P) and I'd love to take up this issue!

[2022-07-15 21:49] exitflynn commented on #314
Hey @KrishAryan! The current logos are those which should be displayed in light-mode and to work on this issue, I'll require images that should be displayed in the dark-mode. Out of the four logos, I managed to find the dark-mode version of two from another meshery repository (meshery/meshery). The two which are left with a light-mode only image are the main Meshery logo and the Meshery Operator l

[2022-07-16 10:31] KrishAryan commented on #314
@exitflynn have you attended any newcomers meet?
If not then you can watch this
https://www.youtube.com/watch?v=RsyydIUT6UI&list=PL3A-A6hPO2INVEknQ4R-VwDMUT9yM_FSm
or read this
https://docs.google.com/document/d/1tpg2sLxirozNt3Ofr3GdM002f9rExp74EqrsGZBU710/edit

[2022-07-16 10:35] KrishAryan commented on #314
Also, try to join the slack channel and ask meshmates about the logo library. They can give you the link.

[2022-07-20 12:32] sudo-NithishKarthik opened #331 "Modify Meshery Operator's behaviour to provide intelligent networking abstractions"
#### Current Behavior
Users of Meshery bump into some networking issues with `meshery-broker`(the pub-sub communication platform for meshery). One such example is Minikube which does not have a default load-balancer implementation.

#### Desired Behavior
1. Make Meshery Operator self-discovering and self-reporting its static configuration to Meshery Server.
2. Make Meshery Operator / Meshery Serve

[2022-07-20 22:04] leecalcote opened #332 "Unable to uninstall Meshery Operator from second cluster"
#### Current Behavior
With Meshery Server connected to a second or third cluster, when a user invokes the button on Meshery UI to remove Meshery Operator from one of those clusters, the following error is received and the operator is not removed.

#### Screenshots/Logs
[code]

#### Environment

- **Host OS:** Mac Linux Windows
- **Platform:** Docker or Kubernetes
- **Meshery Server Version:** stab

[2022-07-20 22:56] leecalcote opened #333 "Meshery Operator to watch Broker custom resource for changes to Endpoint location"
#### Current Behavior
Meshery Server connects to Meshery Broker by way of the information contained in the `broker` custom resource,  specifically, the IP / hostname contained in the `Endpoint` section.

[code]

#### Desired Behavior
When this endpoint location changes, Meshery Server learns of it and updates the location it connects to.

#### Implementation
1. Ideally, Meshery Operator informs Me

[2022-07-20 22:56] leecalcote commented on #331
@sudo-NithishKarthik related issue: https://github.com/meshery/meshery-operator/issues/333

[2022-07-27 08:56] Aisuko commented on #302
https://github.com/meshery/meshery-operator/pull/326

[2022-08-05 21:20] leecalcote commented on #332
@MUzairS15 fyi. We're unable to uninstall from the first and only cluster at this point.

[code]

[2022-08-11 03:49] MUzairS15 commented on #332
@leecalcote This is not the case, because though there are discrepancies, we install and uninstall the same helm chart.
https://github.com/meshery/meshkit/pull/202 This is the fix for this issue.

But you are tight, we must ensure `meshery-operator` chart is same everywhere.

[2022-08-17 13:13] leecalcote opened #341 "[Docs] Broken image link in README"
#### Current State
<img width="923" alt="Screen Shot 2022-08-17 at 8 12 40 AM" src="https://user-images.githubusercontent.com/7570704/185143079-ed0581c2-450f-473c-af70-67dbb3c761b0.png">

#### Desired State
Link should be updated with new image location.

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](

[2022-08-17 13:22] rohannair11 commented on #341
Can I try to work on this ?

[2022-08-17 13:31] leecalcote commented on #341
Thanks, @rohannair11

[2022-08-17 13:33] leecalcote commented on #314
Dark mode version of the Meshery logo and the Meshery Operator logo are not displaying.

[2022-08-17 13:37] rohannair11 commented on #341
how do I view the changes locally ?

[2022-08-17 14:41] KrishAryan commented on #341
@rohannair11 follow the steps:-
1.)fork the repo
2.)In your forked repo scroll down to readme
![image](https://user-images.githubusercontent.com/64402456/185160485-f101216d-f093-4d13-8108-9b36daf91bdb.png)
3.)In the top-right of readme there is edit button click it
4.)Edit the code and the check the changes with the preview button

[2022-08-17 16:14] rohannair11 commented on #341
yeah i'm following the same steps, but I what image should I fix the broken text with?

[2022-08-17 16:29] rohannair11 commented on #341
hey I opened a pr on my forked branch I guess, how should I make this PR show up on the main repo?

[2022-08-17 16:55] KrishAryan commented on #341
I think you are not commiting the changes...scroll down and commit the changes.

[2022-08-18 09:29] rohannair11 commented on #341
@KrishAryan
![Screenshot 2022-08-18 145817](https://user-images.githubusercontent.com/42870265/185361660-521e2902-5ce5-4cd6-a0ef-43ecd71a347e.png)
It shows that the PR has been merged but that's probably to my fork instead of the main repo

[2022-08-21 09:11] KrishAryan commented on #341
I think you made a new branch and merged the changes in your own branch. Merging should be from your fork to the main repo of  meshery-operator

[2022-08-21 09:13] KrishAryan commented on #341
I think it would be better to ask for help in a slack thread since you can get help from many people there.

[2022-08-30 19:02] acald-creator commented on #341
@rohannair11 I realized that we are in different time zone, but if you post in the Slack thread, we will be able to help out to get your PR in. You have the PR merged with your forked repository.

[2022-09-12 12:00] Revolyssup opened #355 "Add support for ARM with a multi platform workflow"
#### Current Behavior

Meshery operator is only built for x86 architecture currently.
#### Desired Behavior

Remove any platform hardcoding from Dockerfile and add a multiplatform workflow.
Refer to other Meshery repositories.
#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Rele

[2022-09-16 23:20] acald-creator opened #359 "[Refactor] Ginkgo test suite"
#### Current Behavior

This project is using Ginkgo v1, Ginkgo has migrated to v2, which means the tests will be failing.

This can also assist in the Go 1.19 upgrade, however, it is not a dependent on the Go version.

In order to make this upgrade, here are the steps to get started:

[code]

Rename `github.com/onsi/ginkgo` to `github.com/onsi/ginkgo/v2`

Then run `go test ./...`

Example of outpu

[2022-09-17 00:54] acald-creator commented on #359
I'll add the changes to the test suite in the Go 1.19 PR

[2022-09-17 08:26] nik132-eng commented on #341
if this issue is live I want to contribute to it. @leecalcote can you assign me, please?

[2022-09-22 18:50] leecalcote opened #367 "Operator Failure"
#### Screenshots/Logs
[code]

#### Environment

- **Host OS:** Mac
- **Platform:** Kubernetes
- **Meshery Server Version:** stable-v0.6.8
- **Meshery Client Version:** stable-v0.6.8

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to

[2022-09-25 17:28] K0more commented on #314
@leecalcote hey can I get assigned to this issue?

[2022-09-26 18:56] K0more commented on #314
@KrishAryan hey krish I have some doubts, would you like to clear them?

[2022-09-26 23:24] leecalcote opened #371 "[Docs] broken image in readme"
#### Current State
There’s a broken image in this repository’s readme.md.

#### Desired State

---

#### [Contributor Guides](https://docs.meshery.io/project/contributing) and Resources
- 📚 [Instructions for contributing to documentation](https://docs.meshery.io/project/contributing/contributing-docs)
   - Meshery documentation [site](https://docs.meshery.io/) and [source](https://github.com/meshe

[2022-09-27 05:11] NPDebs commented on #371
Hi, Mr @leecalcote . Can I pick this one up? 👀

[2022-09-27 05:38] nik132-eng commented on #371
Hello @leecalcote, looking for my first contribution to Layer5 / meshery. can I get this issue pls

[2022-09-27 08:37] XDRAGON2002 commented on #355
@Revolyssup I would like to work on this, but could you guide me a bit as to what all changes need to be done?

[2022-09-27 18:07] leecalcote commented on #371
Thank you for picking this one up, @NPDebs 👏

[2022-09-27 18:08] leecalcote commented on #371
@nik132-eng ok, no sweat. We’ll be opening up many new issues this week in prep for Hacktoberfest. 👍

[2022-09-27 18:08] NPDebs commented on #371
My pleasure! 😊🚀

Thank you right back.

[2022-10-03 11:19] KrishAryan commented on #314
Sure

[2022-10-04 11:01] K0more commented on #341
@KrishAryan does this issue still exist? 🤔

[2022-10-04 11:02] K0more commented on #314
@KrishAryan I cleared them on slack, ty for the response though!

[2022-10-04 11:26] KrishAryan commented on #341
I think this issue is solved as there are no broken images right now

[2022-10-04 11:55] acald-creator commented on #341
Fixed per PR https://github.com/meshery/meshery-operator/pull/373

[2022-10-04 11:55] #341 closed

[2022-10-04 11:56] #371 closed

[2022-10-04 20:51] leecalcote opened #378 "MeshSync and Meshery Broker orphaned on undeploy of Meshery Operator"
#### Current Behavior
When I disable the Meshery Operator using Meshery UI’s toggle switch, the Operator is removed from the cluster, but MeshSync and the Broker remain behind - orphaned.

#### Expected Behavior
Removing the Operator should remove all controllers and custom resources, too.

#### Steps to Reproduce
1. Build and run Meshery Server.
2. Connect Meshery Server to your Kubernetes cluste

[2022-10-05 19:51] CyrineG commented on #378
@leecalcote building from meshery server broker and meshsync are uninstalled correctly (thanks to https://github.com/meshery/meshery-operator/pull/376) mesheryctl is the one that has this issue so I will look into how to fix that discrepancy in behavior

[2022-10-05 19:53] leecalcote commented on #378
Thank you.

[2022-10-07 21:44] #314 closed

[2022-10-24 20:30] acald-creator commented on #359
// update

Will work on the test suite, now that the project has been upgraded to use Go 1.19

[2022-10-24 20:34] leecalcote commented on #359
Oh, excellent. OK. 👍

[2022-11-06 21:14] #367 closed

[2022-11-20 11:23] #332 closed

[2022-11-22 00:53] #355 closed

[2022-11-22 05:48] leecalcote commented on #355
@Revolyssup has this been a topic in the Meshery Build and Release meeting?

[2022-11-30 01:48] #378 closed